# ===== GitHub Linguist tuning =====
public/build/**          linguist-generated
public/js/**/*.min.js    linguist-generated
public/css/**/*.min.css  linguist-generated

public/vendor/**         linguist-vendored
docs/**                  linguist-documentation

*.blade.php              linguist-language=Blade
