public/build/**          linguist-generated
public/js/**/*.min.js    linguist-generated
public/css/**/*.min.css  linguist-generated
public/coreui/**         linguist-vendored

docs/**                  linguist-documentation
*.blade.php              linguist-language=Blade
